<footer class="bg-panel">
  <div class="mx-auto max-w-screen-xl">
    <div
      class="flex flex-col items-center justify-between gap-3 px-4 py-6 text-sm text-white/80 lg:flex-row lg:py-3"
    >
      <span>© 2024 All Rights Reserved, Storyteller.ai</span>
      <div class="flex gap-2">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
        >
          <i class="fab fa-twitter" title="Twitter"></i>
        </a>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
        >
          <i class="fab fa-instagram" title="Instagram"></i>
        </a>
        <a
          href="https://tiktok.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
        >
          <i class="fab fa-tiktok" title="Tiktok"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
