<header
  class="{% if config.extra.style.header_blur %}blur-header{% else %}header{% endif %} z-40 mx-auto min-h-[3.5rem] w-full"
>
  <div class="bg-panel">
    <div class="mx-auto w-full max-w-screen-xl p-3 lg:flex lg:justify-between">
      <div class="flex justify-between w-full">
        <div class="flex items-center">
          <a href="{{ get_url(path=``) }}">
            <img
              src="{{ get_url(path='zola/images/Storyteller-Logo.png') }}"
              alt="{{ config.title }}"
              height="36"
              class="h-8 md:h-9 w-auto"
            />
          </a>
        </div>
        <div class="flex gap-2">
          <a
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
          >
            <i class="fab fa-twitter" title="Twitter"></i>
          </a>
          <a
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
          >
            <i class="fab fa-instagram" title="Instagram"></i>
          </a>
          <a
            href="https://tiktok.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
          >
            <i class="fab fa-tiktok" title="Tiktok"></i>
          </a>
        </div>
        {% if config.extra.menu %}
        <div
          class="btn-menu relative z-50 flex h-8 w-8 shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
          role="button"
          aria-label="Menu"
        ></div>
        {% endif %}
      </div>
      <script>
        // base
        const htmlClass = document.documentElement.classList;
        setTimeout(() => {
          htmlClass.remove("not-ready");
        }, 10);

        // mobile menu
        const btnMenu = document.querySelector(".btn-menu");
        btnMenu?.addEventListener("click", () => {
          htmlClass.toggle("open");
        });
      </script>
      {% if config.extra.menu %}
      <nav class="flex w-full items-center lg:w-auto">
        <ul
          class="nav-wrapper flex w-full flex-col py-2 lg:w-auto lg:flex-row lg:self-center lg:py-0"
        >
          {% for menu in config.extra.menu %}
          <li>
            <a
              class="primary-link block py-2 text-center text-lg font-medium lg:px-3 lg:py-0"
              href="{{ menu.url | replace(from=`$BASE_URL`, to=config.base_url) | safe }}"
              >{{ menu.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</header>
