# Secrets are BAD!
*secret*sh
.env
.env-aichatbot-secrets
.env-secrets
db.secrets
db_secrets.toml
production_database_secret_connect.sh
production_database_secret_query.sh
production_database_voice_clone_report_download.sh
secrets.toml
secrets.yaml
tools/.secrets
tools/db_secrets.toml
twitch_secrets.toml

# Rust build directory
target/
crates/lib/database_queries/target/
crates/lib/sqlite_queries/target/

# Vim noise
*.swo
*.swp
*~

# IntelliJ/CLion noise
.idea/

# Python noise
__pycache__/

# We use diesel for DB migrations only. We don't care about its codgen.
_ignored_schema.rs

# AI Chat Sidecar has its own schema managed by diesel, but we don't care for diesel codegen.
crates/programs/aichatbot-sidecar/_ignored_schema.rs

# AI Chat sidecar's SQlite database shouldn't be checked in
crates/programs/aichatbot-sidecar/database.db

# Runtime data for the AI chatbot
runtime_data/

# Old Python virtual environments
models/Wav2Lip/python/
models/tacotron2/python/

# Stuff I want to keep around, but not commit
scraps/

