# VIM
*~

# VSCode
.favorites.json

# NPM
node_modules/

# Yarn
.yarn/cache
.yarn/install-state.gz
.yarn/releases/
src/website/.yarn/cache
src/website/.yarn/install-state.gz
yarn-error.log

# Windows
.DS_Store

# Project-specific
templates/storyteller-stream-green

packages/fakeyou.com/.env
packages/storyteller.io/.env
packages/power.stream/.env
packages/trumped.com/.env

# old files
/src/gatsby-blog
/zola/