<!-- Pages -->
{% if pages is defined %}<!---->
{% elif paginator is defined %}<!---->
{% set pages = paginator.pages %}<!---->
{% elif term is defined %}<!---->
{% set pages = term.pages %}<!---->
{% elif section is defined %}<!---->
{% set pages = section.pages %}<!---->
{% endif %}<!---->

<div class="grid grid-cols-2 gap-5 md:grid-cols-3 md:gap-6">
  {% for page in pages %}
  <section
    class="group relative mb-4 rounded-lg first-of-type:mt-0 last-of-type:mb-0"
  >
    <div class="h-32 overflow-hidden rounded-lg bg-panel/5 sm:h-52">
      {% if page.extra.cover_image %}
      <figure class="mt-0 mb-0 h-full w-full">
        <img
          class="h-full w-full object-cover transition-all duration-[400ms] group-hover:scale-110"
          src="{{ get_url(path=page.extra.cover_image) }}"
          alt="cover"
        />
      </figure>
      {% endif %}<!---->
    </div>

    <div class="mt-3 flex flex-col">
      <div class="mb-0 md:mb-1">
        <a
          class="text-sm md:text-[15px] font-bold uppercase opacity-70 transition-all no-underline !text-panel hover:!text-link my-0 relative z-10"
          href="/"
        >
          Category
        </a>
      </div>
      <h2
        class="my-0 text-[18px] transition-all group-hover:text-link md:text-[20px]"
      >
        {{ page.title }}
      </h2>

      <div class="not-prose mb-1 truncate">
        {% if page.description %}
        <p class="text-sm mt-1">{{ page.description }}</p>
        {% elif page.summary %}<!---->
        {{ page.summary | safe }}<!---->
        {% endif %}
      </div>

      {% include "partials/page_info.html" %}

      <a class="absolute inset-0 text-[0] z-0" href="{{ page.permalink }}">
        {{ page.title }}
      </a>
    </div>
  </section>
  {% endfor %}
</div>

<!-- Main Nav -->
{% if paginator is defined %}
<nav class="mt-16 flex">
  {% if paginator.previous %}
  <a
    class="rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.previous }}"
    >← Prev Page</a
  >
  {% endif %}<!---->
  {% if paginator.next %}
  <a
    class="ml-auto rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.next }}"
    >Next Page →</a
  >
  {% endif %}
</nav>
{% endif %}
