{% extends "base.html" %}<!---->
{% block main %}

<!-- Section Title -->
<section>{{ section.content | safe }}</section>
<div class="mb-9">
  <h1 class="my-0 text-4xl font-extrabold md:text-5xl mb-2">
    {{ section.title }}
  </h1>
  <p class="my-0 text-[20px] font-semibold leading-6 opacity-80 mb-6">
    {{ section.description }}
  </p>
</div>

{% if section.extra.featured_post %}
<div class="mb-10">
  <a href="{{ section.extra.featured_post.url }}" class="no-underline !text-panel hover:opacity-100">
    <div class="group grid grid-cols-5 overflow-hidden rounded-lg">
      <div
        class="col-span-full h-52 bg-panel/20 sm:h-96 lg:col-span-3 overflow-hidden"
      >
        {% if section.extra.featured_post.cover_image %}
          <img
            alt="Featured image"
            src="{{ section.extra.featured_post.cover_image }}"
            class="h-full w-full m-0 object-cover object-center transition-all duration-[400ms] group-hover:scale-110"
          />
        {% else %}
          <div
            class="flex h-full w-full items-center justify-center object-cover transition-all duration-[400ms] group-hover:scale-110"
          >
            Featured Post Image Here
          </div>
        {% endif %}
      </div>
      <div
        class="col-span-full flex flex-col justify-center bg-panel/5 p-4 text-center lg:col-span-2 lg:p-6 lg:text-start"
      >
        <p
          class="text-md font-bold uppercase opacity-70 transition-all hover:text-link hover:opacity-80 my-0"
        >
          Category
        </p>
        <h2
          class="text-xl transition-all group-hover:text-link md:text-[28px] mt-2 md:mt-3 mb-0 lg:mb-6"
        >
          {{ section.extra.featured_post.title}}
        </h2>
        <p
          class="text-md hidden w-fit items-center gap-1.5 font-semibold opacity-70 lg:flex my-0"
        >
          Read More
          <i class="fa fa-chevron-right me-2 text-xs"></i>
        </p>
      </div>
    </div>
  </a>
</div>
{% endif %}

<!-- Pages -->
{% include "blog_template/page_list.html" %}<!---->
{% endblock main %}
