{% extends "base.html" %}<!---->
{% block main %}
<!-- <h1>PAGE.HTML</h1> -->
<article>
  <header class="mb-6">
    <a
      href="/learn"
      class="text-[16px] flex w-fit items-center gap-1.5 font-semibold opacity-80 !no-underline hover:!underline mb-6 !text-panel"
      ><i class="fas fa-arrow-left text-sm"></i>
      Back to Learn
    </a>
    <h1 class="!my-0 pb-2.5 text-4xl font-extrabold md:text-5xl">
      {{ page.title }}
    </h1>
    {% include "partials/page_info.html" %}
  </header>

  {% if page.extra.cover_image %}<!---->
  <figure
    class="mb-12 mt-0 h-[200px] w-full overflow-hidden rounded-lg bg-panel/10 sm:h-[300px] md:h-[400px] lg:h-[500px]"
  >
    <img
      class="h-full w-full object-cover rounded-lg"
      src="{{ get_url(path=page.extra.cover_image) }}"
      alt="cover"
    />
  </figure>
  {% endif %}

  <!-- Content -->

  <section class="mt-8 flex gap-32 lg:mt-10">
    <div class="w-full">
      <!-- TOC -->
      {% include "partials/toc.html" %}<!---->
      {{ page.content | safe }}
    </div>
    <div class="hidden min-w-[280px] flex-col gap-8 lg:flex">
      <div class="overflow-hidden rounded-lg bg-panel/5">
        <div class="p-4">
          <h2 class="mb-3 font-bold !leading-5 md:text-[18px] my-0">
            Turn your ideas into videos with ease
          </h2>
          <button class="btn btn-primary">Create now</button>
        </div>
        <div class="h-40 bg-panel/5"></div>
      </div>

      <hr class="w-full border-panel/15 my-0" />
      <div class="flex flex-col gap-3">
        <h4 class="text-lg font-bold my-0">Other posts</h4>
        <div class="flex flex-col gap-8">
          <a
            href="/"
            class="group flex flex-col gap-2 !no-underline hover:!no-underline"
          >
            <div class="h-40 overflow-hidden rounded-lg bg-panel/5">
              <div
                class="flex h-full w-full items-center justify-center object-cover transition-all duration-[400ms] group-hover:scale-110"
              >
                <span class="text-sm">Related Post Image Here</span>
              </div>
            </div>
            <h4
              class="my-0 text-[17px] transition-all group-hover:text-link text-lg font-bold"
            >
              Title of related post
            </h4>
          </a>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <!-- Post Taxonomies -->
  {% include "partials/post_taxonomies.html" %}<!---->

  <!-- Post Nav -->
  {% include "partials/post_navigation.html" %}<!---->

  <!-- Comment -->
  {% if page.extra.comment | default(value=config.extra.comment) %}<!---->
  {% include "partials/comment.html" %}<!---->
  {% endif %}
</article>
{% endblock main %}
