<!-- Pages -->
{% if pages is defined %}<!---->
{% elif paginator is defined %}<!---->
{% set pages = paginator.pages %}<!---->
{% elif term is defined %}<!---->
{% set pages = term.pages %}<!---->
{% elif section is defined %}<!---->
{% set pages = section.pages %}<!---->
{% endif %}<!---->

<div class="mb-10">
  <a href="/" class="no-underline !text-panel hover:opacity-100">
    <div class="group grid grid-cols-5 overflow-hidden rounded-lg">
      <div
        class="col-span-full h-52 bg-panel/20 sm:h-96 lg:col-span-3 overflow-hidden"
      >
        {% if featuredImage %}
        <img
          alt="Featured image"
          src="{{ featuredImage }}"
          class="h-full w-full object-cover transition-all duration-[400ms] group-hover:scale-110"
        />
        {% else %}
        <div
          class="flex h-full w-full items-center justify-center object-cover transition-all duration-[400ms] group-hover:scale-110"
        >
          Featured Post Image Here
        </div>
        {% endif %}
      </div>
      <div
        class="col-span-full flex flex-col justify-center bg-panel/5 p-4 text-center lg:col-span-2 lg:p-6 lg:text-start"
      >
        <p
          class="text-md font-bold uppercase opacity-70 transition-all hover:text-link hover:opacity-80 my-0"
        >
          Category
        </p>
        <h2
          class="text-xl transition-all group-hover:text-link md:text-[28px] mt-2 md:mt-3 mb-0 lg:mb-6"
        >
          Title of Featured Post
        </h2>
        <p
          class="text-md hidden w-fit items-center gap-1.5 font-semibold opacity-70 lg:flex my-0"
        >
          Read More
          <i class="fa fa-chevron-right me-2 text-xs"></i>
        </p>
      </div>
    </div>
  </a>
</div>

<div class="grid grid-cols-2 gap-5 md:grid-cols-3 md:gap-6">
  {% for page in pages %}
  <section
    class="group relative mb-4 rounded-lg first-of-type:mt-0 last-of-type:mb-0"
  >
    <div class="h-32 overflow-hidden rounded-lg bg-panel/5 sm:h-52">
      {% if page.extra.cover_image %}
      <figure class="mt-0 mb-0 h-full w-full">
        <img
          class="h-full w-full object-cover transition-all duration-[400ms] group-hover:scale-110"
          src="{{ get_url(path=page.extra.cover_image) }}"
          alt="cover"
        />
      </figure>
      {% endif %}<!---->
    </div>

    <div class="mt-3 flex flex-col">
      <div class="mb-0 md:mb-1">
        <a
          class="text-sm md:text-[15px] font-bold uppercase opacity-70 transition-all no-underline !text-panel hover:!text-link my-0 relative z-10"
          href="/"
        >
          Category
        </a>
      </div>
      <h2
        class="my-0 text-[18px] transition-all group-hover:text-link md:text-[20px]"
      >
        {{ page.title }}
      </h2>

      <div class="not-prose mb-1 truncate">
        {% if page.description %}
        <p class="text-sm mt-1">{{ page.description }}</p>
        {% elif page.summary %}<!---->
        {{ page.summary | safe }}<!---->
        {% endif %}
      </div>

      {% include "partials/page_info.html" %}

      <a class="absolute inset-0 text-[0] z-0" href="{{ page.permalink }}">
        {{ page.title }}
      </a>
    </div>
  </section>
  {% endfor %}
</div>

<!-- Main Nav -->
{% if paginator is defined %}
<nav class="mt-16 flex">
  {% if paginator.previous %}
  <a
    class="rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.previous }}"
    >← Prev Page</a
  >
  {% endif %}<!---->
  {% if paginator.next %}
  <a
    class="ml-auto rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.next }}"
    >Next Page →</a
  >
  {% endif %}
</nav>
{% endif %}
