@import "scss/colours.scss";

.lp-media {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: lighten($panel, 6%) solid 2px;
  background-color: darken($panel, 4%);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lp-section-between {
  padding-top: 10.5%;

  @media (max-width: 992px) {
    padding-top: 0;
  }
}

.lp-step {
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $primary;
  font-weight: 600;
}

.lp-thumbnail {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s;
  border: lighten($panel, 15%) solid 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: lighten($panel, 30%);
    opacity: 0.75;
  }

  &.active {
    opacity: 1;
    border: 2px solid $primary;
  }

  &.lp-add-media {
    background-color: lighten($panel, 6%);
  }

  .lp-thumbnail-selected-icon {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 20px;
    width: 20px;
    text-shadow: 0 0 15px darken($panel, 10%);
  }
}

.lp-tag {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  z-index: 2;
}

.cursor-default {
  cursor: default;
}

.thumbnail-pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  .thumbnail-pagination-icon {
    height: 15px;
    width: 15px;
    padding: 6px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 20px darken($panel, 6%);

    &.left-arrow {
      left: -9px;
      color: rgba($white, 0.85);
      background-color: lighten($action, 5%);
      transition: all 0.2s;

      &:hover {
        background-color: lighten($action, 10%);
        color: $white;
      }
    }

    &.right-arrow {
      right: -9px;
      color: rgba($white, 0.85);
      background-color: lighten($action, 5%);
      transition: all 0.2s;

      &:hover {
        background-color: lighten($action, 10%);
        color: $white;
      }
    }
  }
}

.lp-jobs-list {
  background-color: lighten($panel, 5%);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 12px;
  border: 2px solid transparent;

  &:hover {
    background-color: lighten($panel, 10%);
    border: 2px solid lighten($panel, 15%);
  }

  img {
    border: lighten($panel, 15%) solid 2px;
    background-color: rgba($white, 0.06);
  }

  &.no-hover {
    background-color: lighten($panel, 3%) !important;

    &:hover {
      cursor: default;
      background-color: lighten($panel, 3%) !important;
      border: 2px solid lighten($panel, 3%) !important;
    }
  }
}

.lp-signup-cta {
  background-color: lighten($panel, 5%);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  justify-content: center;
  padding: 1.5rem 2rem;
  border: 2px solid lighten($panel, 15%);
}
