<div class="flex gap-2">
  <a
    href="https://discord.gg/storyteller"
    target="_blank"
    rel="noopener noreferrer"
    class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
  >
    <i class="fab fa-discord" title="Discord"></i>
  </a>
  <a
    href="https://www.reddit.com/r/StoryTeller"
    target="_blank"
    rel="noopener noreferrer"
    class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
  >
    <i class="fab fa-reddit-alien" title="Reddit"></i>
  </a>
  <a
    href="https://x.com/intent/follow?screen_name=get_storyteller"
    target="_blank"
    rel="noopener noreferrer"
    class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
  >
    <i class="fab fa-twitter" title="Twitter"></i>
  </a>
  <a
    href="https://www.tiktok.com/@get_storyteller"
    target="_blank"
    rel="noopener noreferrer"
    class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
  >
    <i class="fab fa-tiktok" title="Tiktok"></i>
  </a>
  <a
    href="https://www.twitch.tv/Storyteller_AI_"
    target="_blank"
    rel="noopener noreferrer"
    class="text-md flex h-9 w-9 items-center justify-center rounded-full bg-white/10 !text-white transition-all hover:bg-white/20 !no-underline hover:!no-underline"
  >
    <i class="fab fa-twitch" title="Twitch"></i>
  </a>
</div>